<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="/index.css"/>
</head>
<body>
    <h1>This is ejs page</h1>

    <% for(let post of posts){%>
        <div>
            <h1  class="user"><%=  post.username %></h1>
            <h2 class="content"><%=  post.content %></h2>
            <a href="http://localhost:8000/posts/<%= post.id %>">see in detail</a>
            <form  method="post"   action="/posts/<%= post.id%>?_method=DELETE">
                     <button>delete</button>
            </form> 

        </div>
    <%}%>

     <a href="http://localhost:8000/posts/new">create new post</a>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css"/>
</head>
<body>
    <h1>This is ejs page</h1>

    <% for(let post of posts) { %>
        <div>
            <h1 class="user"><%= post.username %></h1>
            <h2 class="content"><%= post.content %></h2>
            <a href="http://localhost:8000/posts/<%= post.id %>">See in detail</a>
            <a href="http://localhost:8000/posts/<%= post.id %>/edit">Edit</a>
            <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                <button type="submit">Delete</button>
            </form>
        </div>
    <% } %>

    <a href="http://localhost:8000/posts/new">Create new post</a>
</body>
</html>
